html,body{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(../imges/bg.jpg);
	
	/*display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;*/
	/*display: table-cell;
	vertical-align: middle;*/
}
div{
	border: red solid 2px;
}
.green{
	background-color: yellowgreen;
}
.div_parent{
	height: 100%;
	margin:auto;
	display: -webkit-box;
	justify-content: center;
	/*-webkit-box-orient: horizontal;*/
}
.div_column1{
	webkit-box-flex: 1;
}
.div_column2{
	webkit-box-flex: 2;
	/*margin-top: 15px;
	margin-bottom:15px ;*/
}
.div_column3{
	webkit-box-flex: 1;
}
/*游戏面板*/
#game{
	width: 502px;
	height: 462px;
	margin-top:30%;
	background-image: url(../imges/table.jpg);
	border: #666 solid 1px;
	border-radius: 10px;
	/*display: table-cell;
	vertical-align: middle;*/
	/*top:50%;*/
/*	display: inline-block;*/
}
#card{
	/*width: 380px;
	height: 400px;*/
	position: relative;
	margin: auto;
	top:30px;
}
.card{
	width: 80px;
	height: 120px;
	position: absolute;
	left: 10px;
	top: 10px;
}
/*牌面和牌低容器*/
.face{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	position: absolute;
	/*transition: all 1s;
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);*/
}

.face_hidden{
	/*transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);*/
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.rotate{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.rotate_back{
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}
.face:hover{
	
	/*翻牌后不可见*/
	/*backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transition: all 1s;*/
	box-shadow: #666666 5px 5px 5px;
}
/*牌面*/
.front{
	background-color: #999;
	background: url(../imges/deck.png);
	width: 80px;
	height: 120px;
	background-position: 0 -480px;
	transition: all 1s;
	/*backface-visibility: hidden;
	-webkit-backface-visibility: hidden;*/
	/*transition: all 1s;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);*/
}
/*牌底*/
.back{
	background-color: #efefef;
	width: 80px;
	height: 120px;
	background: url(../imges/deck.png) no-repeat;
	/*background-position: 0 -480px;*/
	/*background-position: -80px -120px;*/
	transition: all 1s;
	/*backface-visibility: hidden;
	-webkit-backface-visibility: hidden;*/
	/*transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);*/
}
.button{
	background: url(../imges/table.jpg);
	padding: 3px;
	color: white;
	font-size: 30px;
	border-radius: 10px;
}
label{
	font-size: 30px;
	color: white;
	font-style:normal;
	font-family: "微软雅黑";
	display: block;
}
#mask {  
	margin: auto;
    filter: alpha(opacity=60); 
    background: url(../imges/popup_bg.jpg);     
    opacity:0.5; -moz-opacity:0.5;  
    width: 502px;
	height: 462px; 
	align-self: center;
    }     
@media only screen and (max-width: 1000px) {
    .div_parent {
        width:100%;
        -webkit-box-orient: vertical;
    }
    #game{
    	width: 100%;
		margin: 0%;
    }
    .card{
    	transform: scale(0.8,0.8);
    }
}
.left{
	float: left;
}
.right{
	float: right;
}
.div_center{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

